html,
body {
    height: 100%;
}

div {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
}

p {
    font-size: 25px;
    font-style: italic;
    text-decoration: blueviolet;
    font-weight: bold;
    text-shadow: 2px;
    text-decoration: solid;
}

input {
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
}

input:hover {
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-style: italic;
}